<a href="https://colab.research.google.com/github/saneseydou/SQL/blob/master/pandas_check1__.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
#Créer un cadre de données appelé "employee_df" avec les données suivantes:
#-------------------------------------------------------------------------------
#soit le dictionnaire de liste :
#-------------------------------------------------------------------------------

data = {'Name' : ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'],
        'Department' : ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'],
        'Age' : [30, 40, 25, 35, 45, 28],
        "Sexe" : ['Homme', 'Femme', 'Homme', 'Femme', 'Homme', 'Femme'],
        'Salaire' : [50000, 60000, 45000, 55000, 70000, 55000],
        'Expérience' : [3, 7, 2, 5, 10, 4]}
print(f"soit le dictionnaire suivant \n {data}")
print("\n\n")
#-------------------------------------------------------------------------------
employee_df=pd.DataFrame(data)                            #conversion du dictionnaire data en DataFrame
print(f"votre DataFrame est :    \n\n {employee_df}")       #affichage du dataframe

#-------------------------------------------------------------------------------
#Utilisation de la méthode iloc pour sélectionner les 3 premières lignes du dataframe.
#-------------------------------------------------------------------------------
print("\n\n")
tab1=employee_df.iloc[0:3]
print(f"les trois pemieres lignes de votre table \n \n {tab1}")

#-------------------------------------------------------------------------------
# use méthode loc pour sélectionner toutes les lignes où le département est "Marketing".
#-------------------------------------------------------------------------------
print("\n\n")
tab2=employee_df.loc[employee_df['Department']=="Marketing"]
#on extrait d'abord la colonne departement ensuite tout ce qui est égale Marketing puis l'extraire dans tous les lignes
print(f"voici ceux qui appartiennent au dépt marketing  \n \n {tab2}")

#-------------------------------------------------------------------------------
#Utilisez la méthode iloc pour sélectionner les colonnes Age et Sexe pour les 4 premières lignes du dataframe.
#-------------------------------------------------------------------------------
print("\n\n")
tab3=employee_df.loc[0:4,["Age","Sexe"]]              #on a n'étiquette les colonne age et sexe
print(f"extrait des colonnes Age et Sexe   \n \n {tab3}")

#-------------------------------------------------------------------------------
# Utilisez la méthode loc pour sélectionner les colonnes Salaire et Expérience pour toutes les lignes dont le sexe est "Male".
#-------------------------------------------------------------------------------
print("\n\n")
tab4=employee_df.loc[employee_df["Sexe"]=="Homme"]    #nous avons d'abord rechercher sur la colonne sexe l'étiquette homme
tab5=tab4.loc[:,["Salaire","Expérience"]]             #nous avons ensuite spécifier les lignes et les colonnnes concerné par l'étiquette home
print(f"la liste des salaires et expériences des hommes  \n \n   {tab5}")

#-------------------------------------------------------------------------------
# Note:

# iloc est utilisé pour la sélection par l'emplacement de l'index
# loc est utilisé pour la sélection par l'étiquette.

soit le dictionnaire suivant
 {'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'], 'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'], 'Age': [30, 40, 25, 35, 45, 28], 'Sexe': ['Homme', 'Femme', 'Homme', 'Femme', 'Homme', 'Femme'], 'Salaire': [50000, 60000, 45000, 55000, 70000, 55000], 'Expérience': [3, 7, 2, 5, 10, 4]}



votre DataFrame est :

     Name Department  Age   Sexe  Salaire  Expérience
0   John         IT   30  Homme    50000           3
1   Mary  Marketing   40  Femme    60000           7
2    Bob      Sales   25  Homme    45000           2
3  Sarah         IT   35  Femme    55000           5
4    Tom    Finance   45  Homme    70000          10
5   Lisa  Marketing   28  Femme    55000           4



les trois pemieres lignes de votre table

    Name Department  Age   Sexe  Salaire  Expérience
0  John         IT   30  Homme    50000           3
1  Mary  Marketing   40  Femme    60000           7
2   Bob      Sales   25  Homme    45000           2



voici ceux qui appartiennent au dépt marketing

    Name Department  Age   Sexe  Salaire  Expérience
1  Mary  Marketing   40  Femme    60000           7
5  Lisa  Marketing   28  Femme    55000           4



extrait des colonnes Age et Sexe

    Age   Sexe
0   30  Homme
1   40  Femme
2   25  Homme
3   35  Femme
4   45  Homme



la liste des salaires et expériences des hommes

      Salaire  Expérience
0    50000           3
2    45000           2
4    70000          10