<a href="https://colab.research.google.com/github/saneseydou/SQL/blob/master/Pandas__pre_processing_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [123]:
import pandas as pd
import numpy as np

#importer le fichier CSV (STEG_BILLING_HISTORY)
#lecture et conversion en dataframe

donnee=pd.read_csv("STEG_BILLING_HISTORY.csv")
print(f"l'ensemble de nos données est  \n\n :{donnee}")

print("\n\n")
#Chargez l'ensemble de données, affichez les dix premières lignes, stockez les résultats dans une variable appelée 'client_0_bills'.
client_0_bill=donnee.iloc[:10]        #print(donnée.head(10))  cette syntax aussi renvoie les dix premières lignes
print(f" voici les dix premières lignes :    \n\n {client_0_bill}")

l'ensemble de nos données est

 :                                             .0  0  207  6.0  1   0.1  0.2  \
train_Client_102782 2018-05-06 11  4.166801e+12  0  207  6.0  1     0    0
train_Client_102783 2015-02-04 11  4.294750e+05  0  207  9.0  1   222    0
                               40  4.461554e+06  0    5  9.0  1    37    0
                    2014-05-08 11  4.294750e+05  0  207  9.0  1   331    0
                    2015-07-28 40  4.461554e+06  0    5  9.0  1    45    0
...                                         ... ..  ...  ... ..   ...  ...
train_Client_103130 2010-10-06 40  7.060600e+04  0    5  6.0  1   441    0
                    2019-07-02 11  9.544600e+04  0  420  9.0  1  1600  800
                    2018-06-02 40  7.060600e+04  0    5  9.0  1   150    0
                               11  9.544600e+04  0  420  9.0  1   362    0
                    2017-06-10 40  7.060600e+04  0    5  9.0  1   826    0

                                     0.3  0.4      0.5      0.6    4  ELEC
train_Client_102782 2018-05-06 11    0.0  0.0      0.0      0.0  4.0  ELEC
train_Client_102783 2015-02-04 11    0.0  0.0   1232.0   1454.0  4.0  ELEC
                               40    0.0  0.0    172.0    209.0  4.0   GAZ
                    2014-05-08 11    0.0  0.0    658.0    989.0  4.0  ELEC
                    2015-07-28 40    0.0  0.0    209.0    254.0  4.0   GAZ
...                                  ...  ...      ...      ...  ...   ...
train_Client_103130 2010-10-06 40    0.0  0.0   8901.0   9342.0  4.0   GAZ
                    2019-07-02 11  138.0  0.0  41036.0  43574.0  8.0  ELEC
                    2018-06-02 40    0.0  0.0  14714.0  14864.0  4.0   GAZ
                               11    0.0  0.0  40071.0  40433.0  4.0  ELEC
                    2017-06-10 40    NaN  NaN      NaN      NaN  NaN   NaN

[12842 rows x 13 columns]



 voici les dix premières lignes :

                                              .0  0  207  6.0  1  0.1  0.2  \
train_Client_102782 2018-05-06 11  4.166801e+12  0  207  6.0  1    0    0
train_Client_102783 2015-02-04 11  4.294750e+05  0  207  9.0  1  222    0
                               40  4.461554e+06  0    5  9.0  1   37    0
                    2014-05-08 11  4.294750e+05  0  207  9.0  1  331    0
                    2015-07-28 40  4.461554e+06  0    5  9.0  1   45    0
                    2014-03-04 11  4.294750e+05  0  207  9.0  1  291    0
                    2013-09-12 11  4.294750e+05  1  207  9.0  1  343    0
                    2013-05-04 11  4.294750e+05  1  207  9.0  1    2    0
                    2013-07-30 11  4.294750e+05  1  207  9.0  1   22    0
                    2014-04-12 11  4.294750e+05  0  207  9.0  1  243    0

                                   0.3  0.4     0.5     0.6    4  ELEC
train_Client_102782 2018-05-06 11  0.0  0.0     0.0     0.0  4.0  ELEC
train_Client_102783 2015-02-04 11  0.0  0.0  1232.0  1454.0  4.0  ELEC
                               40  0.0  0.0   172.0   209.0  4.0   GAZ
                    2014-05-08 11  0.0  0.0   658.0   989.0  4.0  ELEC
                    2015-07-28 40  0.0  0.0   209.0   254.0  4.0   GAZ
                    2014-03-04 11  0.0  0.0   367.0   658.0  4.0  ELEC
                    2013-09-12 11  0.0  0.0    24.0   367.0  4.0  ELEC
                    2013-05-04 11  0.0  0.0     0.0     2.0  4.0  ELEC
                    2013-07-30 11  0.0  0.0     2.0    24.0  4.0  ELEC
                    2014-04-12 11  0.0  0.0   989.0  1232.0  4.0  ELEC

In [125]:
#Quel est le type de données de la variable 'client_0_bills' ?

donnee.dtypes        #dtypes: float64(2), int64(10), object(4) sont le type de variables contenues


#Combien de lignes et de colonnes avons-nous dans cet ensemble de données ?
#RangeIndex: 4476749 entries, 0 to 4476748

#Combien de caractéristiques catégorielles sont présentes dans l'ensemble de données ?
#object(4)

#Combien d'espace mémoire l'ensemble de données consomme-t-il ?
#memory usage: 546.5+ MB

.0      float64
0         int64
207       int64
6.0     float64
1         int64
0.1       int64
0.2       int64
0.3     float64
0.4     float64
0.5     float64
0.6     float64
4       float64
ELEC     object
dtype: object

In [126]:
# Inspectez l'ensemble de données pour détecter d'éventuelles valeurs manquantes.

print(donnee.isnull)
donnee.describe()

<bound method DataFrame.isnull of                                              .0  0  207  6.0  1   0.1  0.2  \
train_Client_102782 2018-05-06 11  4.166801e+12  0  207  6.0  1     0    0
train_Client_102783 2015-02-04 11  4.294750e+05  0  207  9.0  1   222    0
                               40  4.461554e+06  0    5  9.0  1    37    0
                    2014-05-08 11  4.294750e+05  0  207  9.0  1   331    0
                    2015-07-28 40  4.461554e+06  0    5  9.0  1    45    0
...                                         ... ..  ...  ... ..   ...  ...
train_Client_103130 2010-10-06 40  7.060600e+04  0    5  6.0  1   441    0
                    2019-07-02 11  9.544600e+04  0  420  9.0  1  1600  800
                    2018-06-02 40  7.060600e+04  0    5  9.0  1   150    0
                               11  9.544600e+04  0  420  9.0  1   362    0
                    2017-06-10 40  7.060600e+04  0    5  9.0  1   826    0

                                     0.3  0.4      0.5      0.6    4  ELEC
train_Client_102782 2018-05-06 11    0.0  0.0      0.0      0.0  4.0  ELEC
train_Client_102783 2015-02-04 11    0.0  0.0   1232.0   1454.0  4.0  ELEC
                               40    0.0  0.0    172.0    209.0  4.0   GAZ
                    2014-05-08 11    0.0  0.0    658.0    989.0  4.0  ELEC
                    2015-07-28 40    0.0  0.0    209.0    254.0  4.0   GAZ
...                                  ...  ...      ...      ...  ...   ...
train_Client_103130 2010-10-06 40    0.0  0.0   8901.0   9342.0  4.0   GAZ
                    2019-07-02 11  138.0  0.0  41036.0  43574.0  8.0  ELEC
                    2018-06-02 40    0.0  0.0  14714.0  14864.0  4.0   GAZ
                               11    0.0  0.0  40071.0  40433.0  4.0  ELEC
                    2017-06-10 40    NaN  NaN      NaN      NaN  NaN   NaN

[12842 rows x 13 columns]>

,.0,0,207,6.0,1,0.1,0.2,0.3,0.4,0.5,0.6,4
count,1.284200e+04,12842.000000,12842.000000,12832.000000,12842.0,12842.000000,12842.000000,12841.000000,12841.000000,12841.000000,12841.000000,12841.000000
mean,7.365359e+10,0.039947,173.562763,7.365103,1.0,424.133624,146.223174,24.440231,40.438050,18667.598474,19273.879838,4.091582
std,1.152943e+12,0.374869,141.269375,1.369772,0.0,483.150361,1131.976834,142.669490,388.214775,31443.712016,31890.747421,1.911807
min,0.000000e+00,0.000000,5.000000,6.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1.053550e+05,0.000000,5.000000,6.000000,1.0,80.000000,0.000000,0.000000,0.000000,2009.000000,2283.000000,4.000000
50%,4.852530e+05,0.000000,203.000000,8.000000,1.0,291.000000,0.000000,0.000000,0.000000,9244.000000,9800.000000,4.000000
75%,1.195097e+06,0.000000,207.000000,9.000000,1.0,650.000000,0.000000,0.000000,0.000000,23884.000000,24702.000000,4.000000
max,2.718114e+13,5.000000,506.000000,9.000000,1.0,8747.000000,75114.000000,4000.000000,9675.000000,387085.000000,387385.000000,44.000000

In [129]:
# Choisissez votre stratégie pour traiter les valeurs
# manquantes et expliquez-nous pourquoi vous avez fait ce choix.

#pour les caractères numérque nous choissons la moyenne et le mode pour les catégorielles
donnee["counter_number"] = donnee['counter_number'].fillna(8.294626e+10)
donnee["tarif_type"] = donnee['tarif_type'].fillna(20.195312)
donnee["counter_statue"] = donnee['counter_statue'].fillna(0.040744)
donnee["counter_code"] = donnee['counter_code'].fillna(168.926557)
donnee["reading_remarque"] = donnee['reading_remarque'].fillna(7.314639)
donnee["counter_coefficient"] = donnee['counter_coefficient'].fillna(1.0)
donnee["consommation_level_1"] = donnee['consommation_level_1'].fillna(407.010425)
donnee["consommation_level_2"] = donnee['consommation_level_2'].fillna(82.905784)
donnee["consommation_level_3"] = donnee['consommation_level_3'].fillna(26.654646)
donnee["consommation_level_4"] = donnee['consommation_level_4'].fillna(36.821477)
donnee["old_index"] = donnee['old_index'].fillna(15960.810249)
donnee["new_index"] = donnee['new_index'].fillna(16490.551531)
donnee["months_number"] = donnee['months_number'].fillna(15.959722)

donnee.isnull().sum()

KeyError: 'counter_number'

In [ ]:
#cette syntaxe nous permet de visualiser les mode
donnee.mode( axis = 0 , numeric_only = False , dropna = True )
#le mode étant "ELEC" pour notre colonne counter_typer alors passons au remplacement

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_100622,2010-04-10,11,0.0,0,203,6.0,1,0,0,0,0,0,0,4.0,ELEC

In [ ]:
donnee["counter_type"] = donnee['counter_type'].fillna("ELEC") #ici les valeurs manquantes étaient des catégorielle et on les a remplacé par le mode()

donnee.isnull().sum()                        #vérification et sommation du nombre de valeurs manquantes

client_id               0
invoice_date            0
tarif_type              0
counter_number          0
counter_statue          0
counter_code            0
reading_remarque        0
counter_coefficient     0
consommation_level_1    0
consommation_level_2    0
consommation_level_3    0
consommation_level_4    0
old_index               0
new_index               0
months_number           0
counter_type            0
dtype: int64

In [ ]:
6.	#Exécutez une analyse descriptive sur les caractéristiques numériques (colonnes).
donnee.describe()

,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number
count,51557.000000,5.155700e+04,51557.000000,51557.000000,51557.000000,51557.0,51557.000000,51557.000000,51557.000000,51557.000000,51557.000000,51557.000000,51557.000000
mean,20.185659,7.810330e+10,0.040790,171.053378,7.318129,1.0,413.391567,82.601936,24.786799,35.518572,15811.981050,16348.263514,13.026126
std,13.485104,1.291198e+12,0.366979,132.776073,1.357529,0.0,574.739577,704.672499,474.916767,584.602917,29659.952215,30056.789397,714.760854
min,9.000000,0.000000e+00,0.000000,5.000000,6.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,11.000000,1.260930e+05,0.000000,5.000000,6.000000,1.0,76.000000,0.000000,0.000000,0.000000,1688.000000,1964.000000,4.000000
50%,11.000000,5.028170e+05,0.000000,203.000000,8.000000,1.0,271.000000,0.000000,0.000000,0.000000,7093.000000,7610.000000,4.000000
75%,40.000000,1.158448e+06,0.000000,207.000000,9.000000,1.0,610.000000,0.000000,0.000000,0.000000,20573.000000,21309.000000,4.000000
max,45.000000,2.718115e+13,5.000000,506.000000,9.000000,1.0,31890.000000,99398.000000,45360.000000,67139.000000,707108.000000,707930.000000,99104.000000

In [ ]:
7.	#Sélectionnez les enregistrements de factures pour le client avec un id = 'train_Client_0', en utilisant 2 méthodes.


special=donnee.loc[donnee["client_id"]=="train_Client_0"]
special.loc[:]                  #ici nous affichons tous les facture du client (train_Client_0)

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667.0,0.0,203.0,8.0,1.0,82.0,0.0,0.0,0.0,14302.0,14384.0,4.0,ELEC
1,train_Client_0,2013-03-29,11,1335667.0,0.0,203.0,6.0,1.0,1200.0,184.0,0.0,0.0,12294.0,13678.0,4.0,ELEC
2,train_Client_0,2015-03-23,11,1335667.0,0.0,203.0,8.0,1.0,123.0,0.0,0.0,0.0,14624.0,14747.0,4.0,ELEC
3,train_Client_0,2015-07-13,11,1335667.0,0.0,207.0,8.0,1.0,102.0,0.0,0.0,0.0,14747.0,14849.0,4.0,ELEC
4,train_Client_0,2016-11-17,11,1335667.0,0.0,207.0,9.0,1.0,572.0,0.0,0.0,0.0,15066.0,15638.0,12.0,ELEC
5,train_Client_0,2017-07-17,11,1335667.0,0.0,207.0,9.0,1.0,314.0,0.0,0.0,0.0,15638.0,15952.0,8.0,ELEC
6,train_Client_0,2018-12-07,11,1335667.0,0.0,207.0,9.0,1.0,541.0,0.0,0.0,0.0,15952.0,16493.0,12.0,ELEC
7,train_Client_0,2019-03-19,11,1335667.0,0.0,207.0,9.0,1.0,585.0,0.0,0.0,0.0,16493.0,17078.0,8.0,ELEC
8,train_Client_0,2011-07-22,11,1335667.0,0.0,203.0,9.0,1.0,1200.0,186.0,0.0,0.0,7770.0,9156.0,4.0,ELEC
9,train_Client_0,2011-11-22,11,1335667.0,0.0,203.0,6.0,1.0,1082.0,0.0,0.0,0.0,9156.0,10238.0,4.0,ELEC
10,train_Client_0,2008-11-25,11,1335667.0,0.0,203.0,6.0,1.0,174.0,0.0,0.0,0.0,5417.0,5591.0,4.0,ELEC
11,train_Client_0,2012-07-23,11,1335667.0,0.0,203.0,6.0,1.0,628.0,0.0,0.0,0.0,10780.0,11408.0,4.0,ELEC
12,train_Client_0,2012-11-29,11,1335667.0,0.0,203.0,6.0,1.0,886.0,0.0,0.0,0.0,11408.0,12294.0,4.0,ELEC
13,train_Client_0,2013-07-22,11,1335667.0,0.0,203.0,8.0,1.0,147.0,0.0,0.0,0.0,13983.0,14130.0,4.0,ELEC
14,train_Client_0,2014-07-18,11,1335667.0,0.0,203.0,8.0,1.0,99.0,0.0,0.0,0.0,14384.0,14483.0,4.0,ELEC
15,train_Client_0,2014-11-24,11,1335667.0,0.0,203.0,8.0,1.0,141.0,0.0,0.0,0.0,14483.0,14624.0,4.0,ELEC
16,train_Client_0,2015-11-18,11,1335667.0,0.0,207.0,9.0,1.0,217.0,0.0,0.0,0.0,14849.0,15066.0,4.0,ELEC
17,train_Client_0,2012-03-27,11,1335667.0,0.0,203.0,8.0,1.0,292.0,0.0,0.0,0.0,10488.0,10780.0,4.0,ELEC
18,train_Client_0,2011-03-30,11,1335667.0,0.0,203.0,6.0,1.0,497.0,0.0,0.0,0.0,7273.0,7770.0,4.0,ELEC
19,train_Client_0,2013-02-12,11,1335667.0,0.0,203.0,8.0,1.0,38.0,0.0,0.0,0.0,14264.0,14302.0,2.0,ELEC
20,train_Client_0,2010-07-22,11,1335667.0,0.0,203.0,6.0,1.0,278.0,0.0,0.0,0.0,6761.0,7039.0,4.0,ELEC
21,train_Client_0,2010-11-24,11,1335667.0,0.0,203.0,6.0,1.0,234.0,0.0,0.0,0.0,7039.0,7273.0,4.0,ELEC
22,train_Client_0,2005-10-17,11,1335667.0,0.0,203.0,6.0,1.0,124.0,0.0,0.0,0.0,3685.0,3809.0,4.0,ELEC
23,train_Client_0,2006-02-24,11,1335667.0,0.0,203.0,6.0,1.0,141.0,0.0,0.0,0.0,3809.0,3950.0,4.0,ELEC
24,train_Client_0,2006-06-23,11,1335667.0,0.0,203.0,6.0,1.0,162.0,0.0,0.0,0.0,3950.0,4112.0,4.0,ELEC
25,train_Client_0,2006-10-18,11,1335667.0,0.0,203.0,6.0,1.0,159.0,0.0,0.0,0.0,4112.0,4271.0,4.0,ELEC
26,train_Client_0,2007-06-27,11,1335667.0,0.0,203.0,6.0,1.0,240.0,0.0,0.0,0.0,4453.0,4693.0,4.0,ELEC
27,train_Client_0,2007-10-25,11,1335667.0,0.0,203.0,6.0,1.0,276.0,0.0,0.0,0.0,4693.0,4969.0,4.0,ELEC
28,train_Client_0,2007-02-26,11,1335667.0,0.0,203.0,6.0,1.0,182.0,0.0,0.0,0.0,4271.0,4453.0,4.0,ELEC
29,train_Client_0,2008-07-28,11,1335667.0,0.0,203.0,6.0,1.0,171.0,0.0,0.0,0.0,5246.0,5417.0,4.0,ELEC
30,train_Client_0,2009-01-04,11,1335667.0,0.0,203.0,6.0,1.0,315.0,0.0,0.0,0.0,5591.0,5906.0,4.0,ELEC
31,train_Client_0,2009-07-27,11,1335667.0,0.0,203.0,6.0,1.0,312.0,0.0,0.0,0.0,5906.0,6218.0,4.0,ELEC
32,train_Client_0,2009-11-24,11,1335667.0,0.0,203.0,6.0,1.0,267.0,0.0,0.0,0.0,6218.0,6485.0,4.0,ELEC
33,train_Client_0,2010-03-29,11,1335667.0,0.0,203.0,6.0,1.0,276.0,0.0,0.0,0.0,6485.0,6761.0,4.0,ELEC
34,train_Client_0,2008-01-04,11,1335667.0,0.0,203.0,6.0,1.0,277.0,0.0,0.0,0.0,4969.0,5246.0,4.0,ELEC

In [ ]:
# 8.	Transformez la caractéristique 'counter_type'
#  en une variable numérique en utilisant l'encodeur de votre choix.
a=donnee["counter_type"].unique()   #cette fonction unique nous sort les caractères distinctes
print(a)

['ELEC' 'GAZ' nan]

In [ ]:
#ici nous avons le choix entre encodage one-hot et encodage label (pour one-hot il crée autant de colonne qu'il aient de variable
# alors que pour le label nous avons maitrise d'attribution de nos variables des valeurs spécifique )


aa=pd.get_dummies(donnee["counter_type"],dtype=int)
print(aa)

       ELEC  GAZ
0         1    0
1         1    0
2         1    0
3         1    0
4         1    0
...     ...  ...
51552     1    0
51553     1    0
51554     0    1
51555     1    0
51556     0    0

[51557 rows x 2 columns]

In [ ]:
donnee=pd.concat([donnee,aa], axis = 1)  #la contaténation nous permet d'ajouter

donnee.columns

Index(['client_id', 'invoice_date', 'tarif_type', 'counter_number',
       'counter_statue', 'counter_code', 'reading_remarque',
       'counter_coefficient', 'consommation_level_1', 'consommation_level_2',
       'consommation_level_3', 'consommation_level_4', 'old_index',
       'new_index', 'months_number', 'counter_type', 'ELEC', 'GAZ'],
      dtype='object')

In [ ]:
donnee=donnee.drop(["counter_type"], axis=1)
donnee.columns

KeyError: "['counter_type'] not found in axis"

In [ ]:
donnee=donnee.drop(donnee.columns[14], axis=1)
donnee.columns

IndexError: index 14 is out of bounds for axis 0 with size 14

In [ ]:
b=donnee["counter_type"].nunique()   #elle décompte le nombre total de valeurs distinctes
print(b)


c=donnee["counter_type"].value_counts
print(c)